<div class="container" id="speakerList">
  <div class="row">
    <div class="col-sm-8">
      <article class="speakerslist ">
        <div class="container">
          <div class="row">
            {{#each speakerslist}}
            <div class="col-sm-8 ">
              <h3 class="speakerslist-title">{{this.title}}</h3>
              <h5 class="speakerslist-name">with
                <a href="/speakers/{{this.shortname}}">{{this.name}}</a>
              </h5>
              <p class="speakerslist-info">
                <a href="/speakers/{{this.shortname}}">
                  <img class="speakerslist-img img-circle pull-left" src="./images/speakers/{{this.shortname}}_tn.jpg"
                    alt="Photo of {{this.name}}">
                </a>
                </a>
                </a>
                {{this.summary}}
              </p>
            </div>
            {{/each}}
          </div>
          <!-- row -->
        </div>
        <!-- container -->
      </article>
    </div>
    <!-- primary -->
    <aside class="col-sm-4">
      {{> artwork }}
    </aside>
    <!-- secondary -->
  </div>
</div>
<!-- container -->